# 1-1 : 알파고 더 무비 감상문

재밌게 봤습니다. 인공지능이 발전하면서 "다양한 산업에서 사람의 노동력이 대체되어 많은 사람들이 지금의 일자리를 잃고 삶의 방식이 변화할 것이다" 라는 말을 가장 많이 들었습니다. 이번 영화에선 바둑을 통해 다른 관점을 제시해줍니다. 인류가 인공지능의 결과물을 이용한다면 더 발전된 인간의 모습과 인간성의 확장을 기대할 수 있을 것이라고 말하는 부분이 가장 인상 깊었습니다.

# 1-2 : 주어진 자연수가 홀수인지 짝수인지 구별

In [1]:
while True:
  # 숫자형으로 변환 가능한지 검증
  try:
    
    # input 값 입력
    number = int(input("자연수를 입력하세요."))

    # 자연수인지 판별하는 조건문
    if number >= 0:

      # 짝수인지 홀수인지 판별하는 조건문
      if number % 2 == 0:
        print("{}는 짝수입니다.".format(number))
      else:
        print("{}는 홀수입니다.".format(number))
      break

    # 음수일 경우 출력
    else:
      print("자연수를 다시 입력해주세요.")

  # 숫자형으로 변환 불가능할 때 출력
  except ValueError:
    print("자연수를 다시 입력하주세요.")

자연수를 입력하세요.ㅁㄴㅇ
자연수를 다시 입력하주세요.
자연수를 입력하세요.-1
자연수를 다시 입력해주세요.
자연수를 입력하세요.2
2는 짝수입니다.

# 1-3 : 주민등록번호 분할

In [2]:
hong_id = "881120-1068234"

print("주민등록번호 연월일 : {}, 뒷자리 : {}".format(hong_id[:6], hong_id[-7:]))

주민등록번호 연월일 : 881120, 뒷자리 : 1068234

# 1-4 : 주민등록번호 뒷자리 맨 첫 번째 숫자 성별 출력

In [3]:
hong_id = "881120-1068234"

if hong_id[7] in ["1", "3"]:
  print('홍길동씨는 남자입니다.')
elif hong_id[7] in ["2", "4"]:
  print('홍길동씨는 여자입니다.')
else:
  print("잘못된 주민등록번호입니다.")

홍길동씨는 남자입니다.

# 1-5 : 문자열 바꾸기

In [4]:
string = "a:b:c:d"

In [5]:
print("replace를 이용하여 :를 #으로 변경 : {}".format(string.replace(":", "#")))

replace를 이용하여 :를 #으로 변경 : a#b#c#d

In [6]:
print("split, join을 이용하여 :를 #로 변경 : {}".format("#".join(string.split(":"))))

split, join을 이용하여 :를 #로 변경 : a#b#c#d