# 2-1 : 리스트 조인

In [1]:
mylist1 = ['Life', 'is', 'too', 'short']
string1 = " ".join(mylist1)
print(string1)

Life is too short

# 2-2 : 리스트 정렬

In [2]:
mylist2 = [1, 3, 5, 4, 2]
mylist2.sort(reverse=True)
print(mylist2)

[5, 4, 3, 2, 1]

# 2-3 : 튜플 추가

튜플에 원소를 추가하거나 빼는 등 변경은 못하지만 튜플 + 튜플 처럼 튜플 간 계산은 가능

In [3]:
mytuple3 = (1, 2, 3,)
print(mytuple3 + (4, ))

(1, 2, 3, 4)

# 2-4 : 딕셔너리 만들기

In [4]:
mydict4 = dict(name = "홍길동", birth = 1128, age = 30)
mydict4

{'age': 30, 'birth': 1128, 'name': '홍길동'}

In [5]:
mydict4.keys()

dict_keys(['name', 'birth', 'age'])

In [6]:
mydict4.values()

dict_values(['홍길동', 1128, 30])

In [7]:
mydict4.items()

dict_items([('name', '홍길동'), ('birth', 1128), ('age', 30)])

# 2-5 : 딕셔너리 값 추출

In [8]:
mydict5 = {'A' : 90, 'B' : 80}
mydict5.get('C', 70)

70

# 2-6 : 집합의 중복

In [9]:
mylist6 = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
myset6 = set(mylist6)
myset6

{1, 2, 3, 4, 5}

# 2-7 : 딕셔너리 만들기

In [10]:
inventory = dict(메로나 = [300, 20],
                 비비빅 = [400, 3],
                 죠스바 = [250, 100])
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [11]:
mydict7 = dict(이름 = ["메로나", "비비빅", "죠스바"],
               가격 = [300, 400, 250],
               재고 = [20, 3, 100])
mydict7

{'가격': [300, 400, 250], '이름': ['메로나', '비비빅', '죠스바'], '재고': [20, 3, 100]}

# 2-8 : 딕셔너리 출력

In [12]:
print("메로나 가격 : {}".format(inventory["메로나"][0]))

메로나 가격 : 300

In [13]:
print("메로나 재고 : {}".format(inventory["메로나"][1]))

메로나 재고 : 20

In [14]:
inventory["월드콘"] = [500, 7]
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '월드콘': [500, 7], '죠스바': [250, 100]}

# 2-9 : 약간 어려운 문제

In [15]:
mylist9 = ["A", "b", "c", "D"]

while mylist9:
  element = mylist9.pop(0)
  if element.isupper():
    print(element)

A
D

# 2-10 : 약간 어려운 예제

In [16]:
'b'.lower()

'b'

In [17]:
mylist10 = ["A", "b", "c", "D"]
print("".join(mylist10).swapcase())

aBCd

In [18]:
mylist10_1 = []

for ele in mylist10:
  # 대문자는 소문자로, 소문자는 대문자로 변환
  if ele.isupper():
    new_ele = ele.lower()
  else:
    new_ele = ele.upper()
  
  # 새로운 리스트에 추가
  mylist10_1.append(new_ele)

print(''.join(mylist10_1))

aBCd