# 4-1 : 리스트 반복문 조건문

In [ ]:
def check_fruit():
  """입력받은 단어가 목록에 있는지 없는지 체크"""
  
  user_input = input("좋아하는 과일을 입력하세요 : ")
  fruit = ["사과", "포도", "홍시"]
  
  # fruit에 사용자가 입력한 과일 존재 여부 쳋크
  if user_input in fruit:
    print("정답입니다.")
  else:
    print("오답입니다.")

In [ ]:
check_fruit()

좋아하는 과일을 입력하세요 : 사과
정답입니다.

In [ ]:
check_fruit()

좋아하는 과일을 입력하세요 : 곶감
오답입니다.

# 4-2 : elif 사용

In [ ]:
def grading():
  """점수 구간에 따른 학점 부여"""
  
  score = int(input("학생의 점수를 입력하세요 : "))
  score_interval = [0, 21, 41, 61, 81, 101]
  grade_list = ["E", "D", "C", "B", "A"]

  # 점수 구간에 따른 학점 부여
  for i in range(len(score_interval) - 1):
    if score_interval[i] <= score < score_interval[i + 1]:
      grade = grade_list[i]

  print("Grade is {}.".format(grade))

  return grade

In [ ]:
grading()

학생의 점수를 입력하세요 : 85
Grade is A.

'A'

# 4-3 : 주민등록번호 elif

In [ ]:
def check_resident_number():
  """주민등록번호의 유효성 검정"""

  resident_number = input("주민등록번호를 입력하세요 (6자리-7자리 형식): ")
  number_replaced = resident_number.replace("-", "")
  last_number = int(number_replaced[-1])
  check_logic = [2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5]

  # 로직에 따라 계산
  sum_of_multiple = 0
  for i in range(len(number_replaced) - 1):
    sum_of_multiple = sum_of_multiple + check_logic[i] * int(number_replaced[i])
  
  result = (11 - sum_of_multiple % 11) % 10

  # 계산 결과와 주민등록번호의 마지막 숫자가 같은지 체크
  if result == last_number:
    print("유효한 주민등록번호입니다.")
  else:
    print("유효하지 않은 주민등록번호입니다.")

In [ ]:
check_resident_number()

주민등록번호를 입력하세요 (6자리-7자리 형식): 123456-1234567
유효하지 않은 주민등록번호입니다.

In [ ]:
check_resident_number()

주민등록번호를 입력하세요 (6자리-7자리 형식): 821010-1635214
유효한 주민등록번호입니다.

# 4-4 : 할인 가격 계산

In [ ]:
def check_discount():
  """구매할 상품 개수 입력받아 지불해야 할 가격을 계산"""
  
  quantity = int(input("구매할 상품 개수를 입력하세요 : "))
  price = 100
  quantity_interval = [0, 10, 30, 100]

  # 기준에 맞게 개당 할인 금액 정하기
  discount = 0
  for i in range(len(quantity_interval) - 1):
    if quantity_interval[i] <= quantity < quantity_interval[i + 1]:
      discount = 5 * i
  
  if discount == 0:
    discount = 5 * 3
  
  # 결과 계산
  result = (price - discount) * quantity
  print("{}개를 구매하여 지불해야하는 금액은 {}입니다.".format(quantity, result))

  return result

In [ ]:
check_discount()

구매할 상품 개수를 입력하세요 : 29
29개를 구매하여 지불해야하는 금액은 2755입니다.

2755

In [ ]:
check_discount()

구매할 상품 개수를 입력하세요 : 70
70개를 구매하여 지불해야하는 금액은 6300입니다.

6300

In [ ]:
check_discount()

구매할 상품 개수를 입력하세요 : 111
111개를 구매하여 지불해야하는 금액은 9435입니다.

9435

In [ ]:
29*95, 70*90, 111*85

(2755, 6300, 9435)

# 4-5 : 윤년

In [ ]:
def is_leap_year(year):
  """
  매개변수로 입력받은 해가 윤년인지 아닌지 반환
  
  year : 윤년인지 아닌지 판단해야하는 연도
  """

  # 디폴트값은 윤년 아님
  result = False

  # 4의 배수이면 윤년
  if year % 4 == 0:
    result = True
    # 100의 배수면 윤년 아님
    if year % 100  == 0:
      result = False
      # 400의 배수면 윤년
      if year % 400 == 0:
        result = True
  
  if result:
    print("{}은 윤년이다.".format(year))
  else:
    print("{}은 윤년이 아니다.".format(year))

  return result

In [ ]:
print(is_leap_year(1996))
print(is_leap_year(1900))
print(is_leap_year(2000))

1996은 윤년이다.
True
1900은 윤년이 아니다.
False
2000은 윤년이다.
True

# 4-6 : 날수계산

In [ ]:
def days_in_month(year, month):
  """
  연과 월을 매개변수로 받아서 그 달이 며칠까지 있는지 반환

  year : 연도
  month : 월
  """

  days_31 = [1, 3, 5, 7, 8, 10, 12]
  days_30 = [4, 6, 9, 11]

  if month in days_31:
    days = 31
  elif month in days_30:
    days = 30
  elif month == 2:
    # 4의 배수이면 윤년
    if year % 4 == 0:
      days = 29
      # 100의 배수면 윤년 아님
      if year % 100  == 0:
        days = 28
        # 400의 배수면 윤년
        if year % 400 == 0:
          days = 29
          
  return days

In [ ]:
print(days_in_month(2021, 3))
print(days_in_month(2020, 9))
print(days_in_month(2020, 2))

31
30
29

# 4-7 : 간단한 반복문

In [ ]:
def print_sum_of_multiple1(number):
  """
  1000 이하의 입력받은 숫자의 배수들의 합을 계산하여 출력
  반복문을 사용하여 계산

  number : 계산할 숫자
  """

  # 초기값
  result = 0
  value = number

  # 반복문으로 결과 계산
  for i in range(1000 // number):
    result = result + value * (i + 1)    

  # 결과 출력
  print("1000 이하의 {}의 배수의 합은 {}이다.".format(number, result))

  return result

In [ ]:
print_sum_of_multiple1(2)
print_sum_of_multiple1(499)
print_sum_of_multiple1(999)

1000 이하의 2의 배수의 합은 250500이다.
1000 이하의 499의 배수의 합은 1497이다.
1000 이하의 999의 배수의 합은 999이다.

999

In [ ]:
def print_sum_of_multiple2(number):
  """
  1000 이하의 입력받은 숫자의 배수들의 합을 계산하여 출력
  반복문을 사용하지 않고 공식을 이용
  
  number : 계산할 숫자
  """

  # 초기값
  quotient = 1000 // number
  result = int(number * quotient * (quotient + 1) / 2)
  
  # 결과 출력
  print("1000 이하의 {}의 배수의 합은 {}이다.".format(number, result))

  return result

In [ ]:
print_sum_of_multiple2(2)
print_sum_of_multiple2(499)
print_sum_of_multiple2(999)

1000 이하의 2의 배수의 합은 250500이다.
1000 이하의 499의 배수의 합은 1497이다.
1000 이하의 999의 배수의 합은 999이다.

999

# 4-8 : 리스트에서 조건을 만족하는 값 뽑기

In [ ]:
def who_is_A(score_list):
  """
  점수 리스트에서 특정 조건을 만족하는 값만 뽑아 더해서 출력

  score_list : 점수의 리스트 형태
  """

  result_list = []

  # 반복문을 통해 값이 조건을 만족하면 결과 리스트에 저장
  for element in score_list:
    if element >= 50:
      result_list.append(element)

  # 총합 계산
  result = sum(result_list)

  print("50점 이상의 점수들의 총합은 {}이다.".format(result))

  return result

In [ ]:
who_is_A([20, 55, 67, 82, 45, 33, 90, 87, 100, 25])

50점 이상의 점수들의 총합은 481이다.

481

# 4-9 : 별 표시하기

In [ ]:
def print_stars1(number):
  """
  number 이하의 모든 숫자들만큼 별을 출력하기
  
  number : 별 개수 상한선
  """

  for i in range(1, number + 1):
    print("*" * i)

In [ ]:
print_stars1(10)

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
def print_stars2(number):
  """
  number 이하의 모든 숫자들만큼 별을 피라미드 모양으로 출력하기
  
  number : 별 개수 상한선
  """

  for i in range(1, number + 1):
    string = "*" * i
    print(string.center(number, " "))

In [ ]:
print_stars2(10)

    *
    **
   ***
   ****
  *****
  ******
 *******
 ********
*********
**********

짝수 홀수때문에 양쪽 공백 개수가 달라져서 삐뚤빼뚤

=> 피라미드를 출력하려면 층 수를 입력받아서 1, 3, 5, ... 개수로 홀수 개수만 출력하는게 양쪽 공백 개수를 같게 만들어주는 방법인듯

# 4-10 : while 이용하여 5의 배수 합 계산

In [ ]:
def sum_of_5_multiple():
  """
  100 이상 10000 미만인 자연수 가운데 5의 배수 합 계산
  5(20 + 21 + ... + 1999) = 5 * (1999 * 1000 - 19 * 10)을 계산하는게 속도가 더 빠르긴 함
  """

  result = 0
  value = 100
  while True:
    result = result + value
    value = value + 5
    if value >= 10000:
      break

  print("100 이상 10000 미만인 자연수 가운데 5의 배수의 합은 {}이다.".format(result))

  return result

In [ ]:
sum_of_5_multiple()

100 이상 10000 미만인 자연수 가운데 5의 배수의 합은 9994050이다.

9994050

In [ ]:
5 * (1999 * 1000 - 19 * 10)

9994050

# 4-11 : 1부터 100까지 반복문 이용하여 출력

In [ ]:
def print_until_100():
  """1부터 100까지 출력"""

  for i in range(10):
    i_10 = 10 * i
    for j in range(1, 11):
      print(i_10 + j, end=" ")
    print("\n")

In [ ]:
print_until_100()

1 2 3 4 5 6 7 8 9 10

11 12 13 14 15 16 17 18 19 20

21 22 23 24 25 26 27 28 29 30

31 32 33 34 35 36 37 38 39 40

41 42 43 44 45 46 47 48 49 50

51 52 53 54 55 56 57 58 59 60

61 62 63 64 65 66 67 68 69 70

71 72 73 74 75 76 77 78 79 80

81 82 83 84 85 86 87 88 89 90

91 92 93 94 95 96 97 98 99 100

# 4-12 : 리스트에서 평균 구하기

In [ ]:
def calculate_mean(score_list):
  """for문을 이용하여 학습의 평균 점수 계산"""

  sum_score = 0
  for value in score_list:
    sum_score = sum_score + value
  
  result = sum_score / len(score_list)

  return result

In [ ]:
calculate_mean([70, 60, 55, 75, 95, 90, 80, 80, 85, 100])

79.0

# 4-13 : 369 369 369 369

In [ ]:
def game_369():
  """1부터 100까지의 숫자를 리스트에 넣는데 3의 배수면 *로 저장"""

  result_list = []
  for i in range(1, 101):
    if "3" in str(i) or "6" in str(i) or "9" in str(i):
      result_list.append("*")
    else:
      result_list.append(i)

  print(result_list)

In [ ]:
game_369()

[1, 2, '*', 4, 5, '*', 7, 8, '*', 10, 11, 12, '*', 14, 15, '*', 17, 18, '*', 20, 21, 22, '*', 24, 25, '*', 27, 28, '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', 40, 41, 42, '*', 44, 45, '*', 47, 48, '*', 50, 51, 52, '*', 54, 55, '*', 57, 58, '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', 70, 71, 72, '*', 74, 75, '*', 77, 78, '*', 80, 81, 82, '*', 84, 85, '*', 87, 88, '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', 100]

# 4-14 : 3의 배수, 4의 배수인 자연수 출력

In [ ]:
def print_3or4_multiple():
  """1부터 100까지의 자연수 중 3의 배수 or 4의 배수인 자연수 출력"""

  for i in range(1, 101):
    if i % 3 == 0 or i % 4 == 0:
      print(i, end = " ")
    if i % 10 == 0:
      print("\n")

In [ ]:
print_3or4_multiple()

3 4 6 8 9

12 15 16 18 20

21 24 27 28 30

32 33 36 39 40

42 44 45 48

51 52 54 56 57 60

63 64 66 68 69

72 75 76 78 80

81 84 87 88 90

92 93 96 99 100

# 4-15 : 가장 큰 수 계산

In [ ]:
def find_max_value(value_list):
  """입력된 리스트에서 가장 큰 숫자를 찾자"""
  
  # 0번째 값을 최댓값으로 지정
  max_value = value_list.pop(0)

  # 0번째 값과 그 다음 값들을 비교해서 다음 값이 더 크면 최댓값 갱신
  for value in value_list:
    if value > max_value:
      max_value = value
  
  print("주어진 리스트에서 가장 큰 숫자는 {}이다.".format(max_value))

  return max_value

In [ ]:
import random
find_max_value([random.randint(-1000, 1000) for i in range(100)])

주어진 리스트에서 가장 큰 숫자는 976이다.

976

# 4-16 : 종합 실습 과제

만약 100을 검사한다고 쳤을 때 곱해서 100이 나오는 경우는

1 * 100  
2 * 50  
4 * 25  
5 * 20  
10 * 10  

5가지가 있는데 "작은 수 * 큰 수" 구조로 생각한다면 100의 제곱근인 10보다 작은 약수가 존재해야만 100이 소수가 아닐 수 있다.  
=> 소수인지 아닌지 검사할 때 제곱근보다 작은 숫자들에 대해서만 검사하면 됨  
=> 2에 대해서 검사 + 3 이상이면서 제곱근보다 작은 홀수에 대해서만 검사하면 됨

In [4]:
def is_prime(number):
  """
  주어진 함수가 소수인지 아닌지 검사
  
  number : 소수인지 아닌지 검사할 자연수
  """
  import math

  # 초기값
  result = True

  # 2의 배수(짝수)이면 소수가 아님
  if number > 2 and number % 2 == 0:
    result = False
  else:
    # 3 이상의 홀수로 나눠지면 소수가 아님
    # => 홀수 중에서 소수가 아닌 애들을 검사 범위에서 제외하고 싶은데...
    # 찾아보니 해당 숫자의 제곱근 이하인 애들만 검사하는 방법이 있다!
    for i in range(3, round(math.sqrt(number)) + 1, 2):
      if number % i == 0:
        result = False

  return result

In [5]:
def sum_of_prime(number):
  """number 이하의 숫자 중 소수인 숫자들의 합을 구하는 함수"""

  prime_number_list = [i for i in range(2, number + 1) if is_prime(i)]
  result = sum(prime_number_list)

  print("{} 이하 중 소수인 자연수 : ".format(number), prime_number_list)
  print("{} 이하 중 소수인 자연수들의 합 : {}".format(number, result))

  return result

In [6]:
sum_of_prime(100)

100 이하 중 소수인 자연수 :  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
100 이하 중 소수인 자연수들의 합 : 1060

1060